# Common
node_modules/
.env
.env.*
.DS_Store
dist/
build/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
backend/.env
backend/node_modules/

# Frontend
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/logs/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
